body {
  background-color: #00cdff;
}

@font-face {
  font-family: "SF";
  src: url(../fonts/SFMonoRegular.otf);
}

@font-face {
  font-family: "Mont";
  src: url(../fonts/Mont-HeavyDEMO.otf);
}

@font-face {
  font-family: montRegular;
  src: url(../fonts/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf);
}

img {
  margin: 0;
  padding: 0;
  filter: drop-shadow(9px 9px 3px rgba(0, 0, 0, 0.7));
}

input {
  border-style: none;
  background-color: #00cdff;
}

.condition {
  font-family: Mont;
}

.date {
  font-family: montRegular;
}

.location {
  display: flex;
  align-self: start;
  margin-left: 1em;
  gap: 0.7em;
}

.container {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#city {
  font-family: SF;
}

#currenttemp {
  font-size: 4em;
  font-family: SF;
}

.cloud {
  margin-top: 3em;
  width: 13em;
  /* box-shadow: 0 4px 0.4px -2px gray; */
}

/* date */

.date-container,
.icon-container {
  margin-top: 4em;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.icon-container {
  margin-top: 1em;
  font-size: 0.5em;
}
.weathers {
  width: 7.5em;
}
